<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/views/error.css" />
    <link rel="stylesheet" type="text/css" href="/css/partials/navbar.css" />
    <title>{{title}}</title>
  </head>
  <body>
    {{#equals status 404}}
    {{> navbar}}
    <main>
      {{#if message}}
      {{message}}
      {{else}}
      Uh oh... This page doesn't exist!
      {{/if}}
    </main>
    {{else}}
    <main>
      {{#if message}}
      {{message}}
      {{else}}
      A server error occured!
      {{/if}}
    </main>
    {{/equals}}
  </body>
</html>
