<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/views/leaderboard.css" />
    <link rel="stylesheet" type="text/css" href="/css/partials/navbar.css" />
    <title>{{title}}</title>
  </head>
  <body id="body">
    {{> navbar}}
    <main>
      <table class="entire-table">
        <thead class="header-list-container">
          <tr>
            <th>Player Name</th>
            <th>Score (Wins - Losses)</th>
          </tr>
        </thead>
        <tbody id="PlayerListContainer" class="item-list-container">
          {{#each users}}
            <tr class="item-container">
              <td class="leaderboard-name">
                <div class="leaderboard-name">
                  <div class="leaderboard-pic">
                    {{#if this.avatar}}
                      {{#if this.portrait}}
                        <img class="img-portrait" src="{{this.avatar}}">
                      {{else}}
                        <img class="img-landscape" src="{{this.avatar}}">
                      {{/if}}
                    {{else}}
                    <img class="img-portrait" src="/images/default-profile-pic.png">
                    {{/if}}
                  </div>
                  {{this.username}}
                </div>
              </td>
              <td>
                {{this.score}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </main>
  </body>
</html>