<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/views/lobby.css" />
    <link rel="stylesheet" type="text/css" href="/css/partials/navbar.css" />
    <link rel="stylesheet" type="text/css" href="/css/partials/lobby-messages.css">
    <link rel="stylesheet" type="text/css" href="/css/partials/lobby-settings-popup.css">
    <link rel="stylesheet" type="text/css" href="/css/scrollbar.css">
    <script defer type="text/javascript" src="/js/views/lobby.js"></script>
    <script defer type="text/javascript" src="/js/partials/lobby-messages.js"></script>
    <title>{{title}}</title>
    {{assign "isHost" isHost}}
  </head>
  <body onload="{initMessages(); initLobby();}">
    {{> navbar}}
    <main>
      <div id="lobby-info-container">
        <div id="title-div">
          <h3 id="lobby-title">{{lobbyName}}</h3>
            <img id="lobby-type-icon" src="{{#if isPrivate}}/images/private.png{{else}}/images/public.png{{/if}}">
        </div>
        <div id="settings" class="{{#if isHost}}{{else}}hidden{{/if}}">
          <img id="settings-icon" src="/images/gear.png">
        </div>
      </div>
      <div id="content-container">
        <div id="lobby-container">
          <div id="lobby-members-list">
            {{#each list}}
              <table>
                <tbody id="list-{{@index}}">
                  {{#each this}}
                    {{#if empty}}
                      <tr class="lobby-guest">
                        <td class="lobby-guest-icon-col"></td>
                        <td class="lobby-guest-name"></td>
                        <td class="lobby-guest-status"></td>
                        <td></td>
                      </tr>
                    {{else if unavailable}}
                      <tr class="lobby-unavailable">
                        <td class="lobby-guest-icon-col"></td>
                        <td class="lobby-guest-name"></td>
                        <td class="lobby-guest-status"></td>
                        <td></td>
                      </tr>
                    {{else}}
                    <tr id="user-{{this.id}}" class="lobby-guest{{#equals ../../user.id this.id }} current-user{{/equals}}">
                      <td class="lobby-guest-icon-col">
                        <div class="lobby-guest-icon">
                          {{#if this.avatar}}
                            <img class="{{#if this.portrait}}lobby-avatar-portrait{{else}}lobby-avatar-landscape{{/if}}" src="{{this.avatar}}">
                          {{else}}
                            <img class="lobby-avatar-portrait" src="/images/default-profile-pic.png">
                          {{/if}}
                        </div>
                      </td>
                      <td class="lobby-guest-name">{{this.username}}</td>
                      {{#if this.host}}
                        <td class="lobby-guest-status">Host</td>
                      {{else}}
                        <td class="lobby-guest-status">{{#if this.ready}}Ready{{else}}Not Ready{{/if}}</td>
                      {{/if}}
                      {{#if this.host}}
                        <td></td>
                      {{else}}
                        {{#varEquals "isHost" true}}
                          <td class="lobby-guest-kick">
                            <button id="{{this.id}}" class="lobby-button kick">Kick</button>
                          </td>
                        {{else}}
                          <td></td>
                        {{/varEquals}}
                      {{/if}}
                    </tr>
                    {{/if}}
                  {{/each}}
                </tbody>
              </table>
            {{/each}}
          </div>
          <div id="lobby-menu">
            <img id="uno-lobby-logo" src="/images/uno-logo.png">
            {{#if isHost}}
            <div id="invitation-container">
              <span id="invite-error" class="invite-error hidden"></span>
              <form>
                <input type="text" placeholder="Username" id="username" name="username">
                <button id="invite-button" class="lobby-button">Invite</button>
              </form>
            </div>
            {{/if}}
            <div id="lobby-options">
              {{#if isHost}}
                <button {{#if guestsReady}}disabled{{/if}} id="start-button" class="lobby-button">Start</button>
              {{else}}
                <button id="ready-button" class="lobby-button">Ready</button>
              {{/if}}
              <button id='leave-button' class="lobby-button">Leave Lobby</button>
            </div>
          </div>
        </div>
        {{> lobby-messages}}
      </div>
    </main>
    {{> lobby-settings-popup}}
    <script>
      const userId = "{{user.id}}"
      const lobbyId = "{{lobbyId}}"
      let lobbyName = "{{lobbyName}}"
      let isPrivate = "{{isPrivate}}"
      let maxPlayers = "{{maxPlayers}}"
    </script>
  </body>
</html>