<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/views/profile.css" />
    <link rel="stylesheet" type="text/css" href="/css/partials/navbar.css" />
    <title>{{title}}</title>
  </head>
  <body>
    {{> navbar}}
    <main>
      <div class="profile-pic"></div>
      <div class="profile-info-container">
          <h1>{{requestedUser.username}}</h1>
          <div class="statistic-headers">
              <label>Games Played</label>
              <label>Games Won</label>
              <label>Win Percentage</label>
          </div>
          <div class="statistic-values">
              <label>{{requestedUser.gamesPlayed}}</label>
              <label>{{requestedUser.gamesWon}}</label>
              <label id="winRatio">0%</label>
          </div>
          <div>
            Joined <time id="joined">{{requestedUser.createdAt}}</time>
          </div>
      </div>
    </main>
  </body>
  <script src="/js/views/profile.js" type="module"></script>
</html>