<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/views/profile.css" />
    <link rel="stylesheet" type="text/css" href="/css/partials/navbar.css" />
    <title>{{title}}</title>
  </head>
  <body>
    {{> navbar}}
    <main>
      <summary>
        <header>
          <h1>{{requestedUser.username}}</h1>
        </header>
        <section>
          <div id="profile-pic">
            {{#if requesterUser.pictureUrl}}
            <img src="{{requestedUser.pictureUrl}}">
            {{else}}
            <img src="https://bethesdadentalhealth.com/wp-content/uploads/2016/10/profile-icon-png-898.png">
            {{/if}}
          </div>
          <div id="profile-info">
            <div id="stats">
              <div>
                <label>Games Played</label>
                <p>0</p>
              </div>
              <div>
                <label>Games Won</label>
                <p>0</p>
              </div>
              <div>
                <label>Win Ratio</label>
                <p>0%</p>
              </div>
            </div>
            <span>Joined <time id="joined">{{requestedUser.createdAt}}</time></span>
          </div>
        </section>
      </summary>
    </main>
  </body>
  <script src="/js/views/profile.js" type="module"></script>
</html>