<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/views/search.css" />
    <link rel="stylesheet" type="text/css" href="/css/partials/navbar.css" />
    <title>{{title}}</title>
  </head>
  <body>
    {{> navbar}}
    <main>
      <header>
        {{#if q}}
        <h2>Search "{{q}}"</h2>
        {{else}}
        <h2>Search</h2>
        {{/if}}
      </header>
      <ul id="search-container">
        {{#each results}}
          <li class="search-result">
            <a class="search-result-pic" href="/{{this.username}}">
              {{#if this.pictureUrl}}
              <img src="https://csc665-term-project-uno.s3.us-west-1.amazonaws.com/{{this.pictureUrl}}">
              {{else}}
              <img src="/images/default-profile-pic.png">
              {{/if}}
            </a>
            <a href="/{{this.username}}"><h3>{{this.username}}</h3></a>
          </li>
        {{/each}}
      </ul>
    </main>
  </body>
</html>